*{
    padding:10px;

}

body{
    background-color: rgba(255, 68, 0, 0.705);
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: white;
    flex-direction: row;
    
    
}
.navbar .pixel{
    padding: 50px 50px;
    margin: 0px 20px;


}
.carte{
    box-sizing: content-box;
    box-shadow:14px ;
    border-radius: 10%;
    padding:10px 10px;
    margin: 10px 10px 10px 10px;
    
}
.navbar ul {
    display: flex;
    list-style: none;
    background-color: white;
    padding: 10px 10px;
    



}
button{
    background-color: rgb(255, 106, 0);
    border-radius: 10%;
}
.page1{
    display: flex;
    background-color: white;
}
.page1 img{
    width: 1500px;
    height:40%;
    display: flex;
    justify-content: flex-start;
    border-radius: 5%;
}
h4{
    color: rgb(142, 140, 140);
}
.limin ul{
    display: inline-block;
}
.limin p{
    width: 40%;
}
.limin .icon img{
    
    height: 80px;
    width: 80px;
    border-radius: 50%;
    
}
.icon{
    display: flex;
    
}


.gridmod{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows :repeat(2,800px);
    grid-template-areas:
    "a c "
    "b d " ;   
    background-color: white;

}
.grid-item1 img{
width: 600px;
height: 500px;
}
.grid-item3 img{
width: 600px;
height: 500px ;
}


.grid-item1{
    grid-area: a;
}
.grid-item2{
    grid-area: b;
}
.grid-item3{
    grid-area: c;
}
.grid-item4{
    grid-area: d;
}

.gridmod ul{
    display: inline-block;
}
.gridmod img{
    border-radius: 5%;
}

.gridmod{
    height: 1000px;

    
}